<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text analyzer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='simple-chart.css') }}">
    <script src="{{ url_for('static', filename='simple-chart.js') }}"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Put some text to  analyze
            </h1>
            <form method="post">
                <div>
                    <textarea name="source_text" cols="120" rows="10">{{ texter.source_text }}</textarea>
                </div>
                <select name="analyze_type">
                    {% for key, value in analyze_options %}
                    <option value="{{key}}" {% if key==texter.analyze_type_name %} selected {% endif %}>{{value}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Analyze it</button>
            </form>
        </div>
    </div>
    {% if texter %}
    <h2>Results</h2>
    <h3>Total</h3>
    <div class="delimiter"></div>

<div id="orignalStats" style="height: 400px;"></div>



    <h3>By entity</h3>
    <div class="delimiter"></div>
    <div class="row">
        <div class="col-md-12">
            {% for entity in texter.analyzed_entities %}<span class="entity" data-toggle="tooltip" data-placement="top" title="{{ entity.char_stat_relative }}">{{ entity.text | safe }}</span>{{ texter.analyze_type_layout|safe }}{% endfor %}

        </div>
    </div>
    {% endif %}
</div>
</body>
<script>
$('#orignalStats').simpleChart({

  item: {
    label: {{ texter.analyzed_source.get_stat_keys()|safe }}, // string
    value: {{ texter.analyzed_source.get_stat_values()|safe }}, //integer
    outputValue: [], // Optimized values: instead of 10240 bytes you can output 10kb if you provide the array
    color: ['#00CED1'],
    prefix: '',
    suffix: '%',
    decimals: 2,
    height: null,
    render: {
        size: 'relative', /* Relative - the height of the items is relative to the maximum value */
        margin: 1,
        radius: null
    }
  },
})
</script>
</html>

